@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-history-green: #2F4F4F;
  --color-parchment: #F5F5DC;
  --color-gold-accent: #DAA520;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-parchment text-gray-800 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-history-green;
  }
}
